body,
html {
    margin: 0;
    padding: 0;
}

body {
    background: #191919;
    color: white;
    font-family: 'Fira Code', Consolas, 'Courier New', monospace;
}


/***** LAYOUT *****/

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.column {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.column-sticky>* {
    position: sticky;
    top: 0;
}

.container {
    padding: .4rem;
    width: 400px;
}


/***** SEARCH *****/

#searchbar-container {
    position: relative;
}

#searchbar {
    background: #0f0f0f;
    border: none;
    border-radius: .2rem;
    color: white;
    padding: 1em;
    font: inherit;
    width: 100%;
    box-sizing: border-box;
}

#button-searchbar-clear {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font: inherit;
    padding: 1em;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}


/***** SCROLLBAR *****/

#scrollbar {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 5vh 1em;
}

#scrollbar>a {
    color: white;
    text-decoration: none;
    opacity: 80%;
    transition: .1s ease;
    min-height: 2%;
}


/***** FOLDERS *****/

#folders {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.folder {
    background: #0f0f0f;
    border: 1px solid #4d4d4d;
    padding: .8em;
    margin: .4rem;
    border-radius: .2rem;
    transition: .1s ease;
    user-select: none;
}

.folder:hover {
    background: #4d4d4d;
}

.folder-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.folder-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.folder-button {
    border-radius: .2rem;
    border: none;
    padding: .4rem;
    cursor: pointer;
    line-height: 0;
    background: #00000000;
    transition: .1s ease;
    margin-right: .2rem;
}

.folder-button:last-child {
    margin-right: 0;
}

.folder-button:hover {
    background: #00000080;
}

.folder-button .icon {
    display: block;
    width: 16px;
    height: 16px;
    color: #05a1ff;
}

.btn-terminal .icon {
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2018%2018%27%20fill%3D%27white%27%3E%3Cpath%20d%3D%22M%2016.071431%2C1.2857126%20H%201.9285717%20c%20-0.5115675%2C0%20-1.00201452%2C0.2031863%20-1.3637765%2C0.5647954%20C%200.20318575%2C2.2122604%20-4.05e-7%2C2.702717%20-4.05e-7%2C3.2142845%20V%2014.785714%20c%200%2C0.511567%200.203186155%2C1.002011%200.564795605%2C1.363776%200.36175237%2C0.361606%200.852209%2C0.564797%201.3637765%2C0.564797%20H%2016.071431%20c%200.511567%2C0%201.002011%2C-0.203191%201.363773%2C-0.564797%20C%2017.796813%2C15.787738%2018%2C15.297281%2018%2C14.785714%20V%203.2142845%20C%2018%2C2.702717%2017.796813%2C2.2122699%2017.435204%2C1.850508%2017.073451%2C1.4888989%2016.582998%2C1.2857126%2016.071431%2C1.2857126%20Z%20M%206.2401229%2C7.5258356%204.3115508%2C9.4544077%20C%204.1918772%2C9.5785284%204.0271423%2C9.6491284%203.8547902%2C9.6507104%203.682311%2C9.6522994%203.5165753%2C9.5844144%203.3946147%2C9.4624442%203.2726447%2C9.340474%203.2049128%2C9.1747385%203.2063517%2C9.0022688%203.2079399%2C8.8299325%203.2785274%2C8.6651975%203.4026544%2C8.5455081%20L%204.8766323%2C7.0713843%203.4026544%2C5.5972573%20C%203.2785307%2C5.4775804%203.2079303%2C5.3128486%203.2063517%2C5.1404966%203.2047626%2C4.9680174%203.2726451%2C4.8022818%203.3946147%2C4.6803211%203.5165849%2C4.5583511%203.6823204%2C4.4906191%203.8547902%2C4.492055%204.0271296%2C4.493645%204.1918613%2C4.564234%204.3115508%2C4.6883577%20l%201.9285721%2C1.9285721%20c%200.1205344%2C0.1205343%200.188263%2C0.2839796%200.188263%2C0.4544448%200%2C0.1704686%20-0.067728%2C0.3339107%20-0.188263%2C0.4544451%20z%20M%2011.571428%2C9.6428204%20H%208.3571423%20c%20-0.229735%2C0%20-0.4419551%2C-0.1225454%20-0.5567496%2C-0.3214306%20-0.1147982%2C-0.1988852%20-0.1147982%2C-0.4439754%200%2C-0.6428574%200.1147946%2C-0.198882%200.327021%2C-0.3214271%200.5567496%2C-0.3214271%20h%203.2142857%20c%200.229736%2C0%200.441956%2C0.1225418%200.556751%2C0.3214271%200.114796%2C0.1988853%200.114796%2C0.4439753%200%2C0.6428574%20-0.114796%2C0.198882%20-0.327021%2C0.3214306%20-0.556751%2C0.3214306%20z%22%20fill%3D%22%2305a1ff%22%20/%3E%0A%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2018%2018%27%20fill%3D%27white%27%3E%3Cpath%20d%3D%22M%2016.071431%2C1.2857126%20H%201.9285717%20c%20-0.5115675%2C0%20-1.00201452%2C0.2031863%20-1.3637765%2C0.5647954%20C%200.20318575%2C2.2122604%20-4.05e-7%2C2.702717%20-4.05e-7%2C3.2142845%20V%2014.785714%20c%200%2C0.511567%200.203186155%2C1.002011%200.564795605%2C1.363776%200.36175237%2C0.361606%200.852209%2C0.564797%201.3637765%2C0.564797%20H%2016.071431%20c%200.511567%2C0%201.002011%2C-0.203191%201.363773%2C-0.564797%20C%2017.796813%2C15.787738%2018%2C15.297281%2018%2C14.785714%20V%203.2142845%20C%2018%2C2.702717%2017.796813%2C2.2122699%2017.435204%2C1.850508%2017.073451%2C1.4888989%2016.582998%2C1.2857126%2016.071431%2C1.2857126%20Z%20M%206.2401229%2C7.5258356%204.3115508%2C9.4544077%20C%204.1918772%2C9.5785284%204.0271423%2C9.6491284%203.8547902%2C9.6507104%203.682311%2C9.6522994%203.5165753%2C9.5844144%203.3946147%2C9.4624442%203.2726447%2C9.340474%203.2049128%2C9.1747385%203.2063517%2C9.0022688%203.2079399%2C8.8299325%203.2785274%2C8.6651975%203.4026544%2C8.5455081%20L%204.8766323%2C7.0713843%203.4026544%2C5.5972573%20C%203.2785307%2C5.4775804%203.2079303%2C5.3128486%203.2063517%2C5.1404966%203.2047626%2C4.9680174%203.2726451%2C4.8022818%203.3946147%2C4.6803211%203.5165849%2C4.5583511%203.6823204%2C4.4906191%203.8547902%2C4.492055%204.0271296%2C4.493645%204.1918613%2C4.564234%204.3115508%2C4.6883577%20l%201.9285721%2C1.9285721%20c%200.1205344%2C0.1205343%200.188263%2C0.2839796%200.188263%2C0.4544448%200%2C0.1704686%20-0.067728%2C0.3339107%20-0.188263%2C0.4544451%20z%20M%2011.571428%2C9.6428204%20H%208.3571423%20c%20-0.229735%2C0%20-0.4419551%2C-0.1225454%20-0.5567496%2C-0.3214306%20-0.1147982%2C-0.1988852%20-0.1147982%2C-0.4439754%200%2C-0.6428574%200.1147946%2C-0.198882%200.327021%2C-0.3214271%200.5567496%2C-0.3214271%20h%203.2142857%20c%200.229736%2C0%200.441956%2C0.1225418%200.556751%2C0.3214271%200.114796%2C0.1988853%200.114796%2C0.4439753%200%2C0.6428574%20-0.114796%2C0.198882%20-0.327021%2C0.3214306%20-0.556751%2C0.3214306%20z%22%20fill%3D%22%2305a1ff%22%20/%3E%0A%3C/svg%3E");
}

.btn-vscode .icon {
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2018%2018%27%20fill%3D%27white%27%3E%3Cg%20transform%3D%22matrix%280.03673469%2C0%2C0%2C0.03673469%2C-3.8572664%2C-1.2857132%29%22%20fill%3D%22%2305a1ff%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%20420%2C227.5%20c%20-23.207%2C0%20-45.461%2C-9.2188%20-61.871%2C-25.629%20C%20341.719%2C185.4608%20332.5%2C163.207%20332.5%2C140%20V%2054.949%20c%200%2C-6.8516%201.3672%2C-13.633%204.0234%2C-19.949%20h%20-109.02%20c%20-13.91%2C0.04297%20-27.242%2C5.5859%20-37.078%2C15.422%20-9.836%2C9.8361%20-15.379%2C23.168%20-15.422%2C37.078%20v%20385%20c%200.043%2C13.91%205.5859%2C27.242%2015.422%2C37.078%209.8361%2C9.836%2023.168%2C15.379%2037.078%2C15.422%20h%20245%20c%2013.91%2C-0.043%2027.242%2C-5.5859%2037.078%2C-15.422%209.836%2C-9.8361%2015.379%2C-23.168%2015.422%2C-37.078%20V%20224.35%20c%20-5.5898%2C2.1172%20-11.523%2C3.1875%20-17.5%2C3.1484%20z%20m%20-92.629%2C180.13%20c%203.3789%2C3.2578%205.3008%2C7.7422%205.3438%2C12.434%200.0391%2C4.6953%20-1.8047%2C9.207%20-5.125%2C12.527%20-3.3203%2C3.3203%20-7.832%2C5.1641%20-12.527%2C5.125%20-4.6914%2C-0.043%20-9.1758%2C-1.9648%20-12.434%2C-5.3438%20l%20-35%2C-35%20c%20-3.2812%2C-3.2812%20-5.125%2C-7.7305%20-5.125%2C-12.371%200%2C-4.6405%201.8438%2C-9.0898%205.125%2C-12.371%20l%2035%2C-35%20c%204.4453%2C-4.293%2010.824%2C-5.9258%2016.785%2C-4.293%205.957%2C1.6367%2010.613%2C6.293%2012.25%2C12.25%201.6328%2C5.9609%200%2C12.34%20-4.293%2C16.785%20l%20-22.625%2C22.629%20z%20m%20105%2C-10.254%20-35%2C35%20v%20-0.004%20c%20-4.4453%2C4.293%20-10.824%2C5.9258%20-16.785%2C4.293%20-5.957%2C-1.6367%20-10.613%2C-6.293%20-12.25%2C-12.25%20-1.6328%2C-5.9609%200%2C-12.34%204.293%2C-16.785%20l%2022.625%2C-22.629%20-22.629%2C-22.629%20h%200.004%20c%20-4.293%2C-4.4453%20-5.9258%2C-10.824%20-4.293%2C-16.785%201.6367%2C-5.957%206.293%2C-10.613%2012.25%2C-12.25%205.9609%2C-1.6328%2012.34%2C0%2016.785%2C4.293%20l%2035%2C35%20c%203.2812%2C3.2812%205.125%2C7.7305%205.125%2C12.371%200%2C4.6405%20-1.8438%2C9.0898%20-5.125%2C12.371%20z%22%20/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M%20506.68%2C133.75%20406.18%2C47.613%20c%20-4.3984%2C-3.7227%20-9.3555%2C-6.7344%20-14.684%2C-8.9258%20-5.3906%2C-2.1523%20-11.5%2C-1.4922%20-16.309%2C1.7656%20-4.8086%2C3.2578%20-7.6875%2C8.6875%20-7.6836%2C14.492%20v%2085.051%20c%200%2C13.926%205.5312%2C27.277%2015.375%2C37.125%209.8477%2C9.8438%2023.199%2C15.375%2037.125%2C15.375%20h%2087.5%20c%204.6406%2C0%209.0938%2C-1.8438%2012.375%2C-5.125%203.2812%2C-3.2812%205.125%2C-7.7344%205.125%2C-12.375%20v%20-1.3984%20c%20-0.0195%2C-15.316%20-6.7109%2C-29.863%20-18.324%2C-39.848%20z%22%20/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2018%2018%27%20fill%3D%27white%27%3E%3Cg%20transform%3D%22matrix%280.03673469%2C0%2C0%2C0.03673469%2C-3.8572664%2C-1.2857132%29%22%20fill%3D%22%2305a1ff%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%20420%2C227.5%20c%20-23.207%2C0%20-45.461%2C-9.2188%20-61.871%2C-25.629%20C%20341.719%2C185.4608%20332.5%2C163.207%20332.5%2C140%20V%2054.949%20c%200%2C-6.8516%201.3672%2C-13.633%204.0234%2C-19.949%20h%20-109.02%20c%20-13.91%2C0.04297%20-27.242%2C5.5859%20-37.078%2C15.422%20-9.836%2C9.8361%20-15.379%2C23.168%20-15.422%2C37.078%20v%20385%20c%200.043%2C13.91%205.5859%2C27.242%2015.422%2C37.078%209.8361%2C9.836%2023.168%2C15.379%2037.078%2C15.422%20h%20245%20c%2013.91%2C-0.043%2027.242%2C-5.5859%2037.078%2C-15.422%209.836%2C-9.8361%2015.379%2C-23.168%2015.422%2C-37.078%20V%20224.35%20c%20-5.5898%2C2.1172%20-11.523%2C3.1875%20-17.5%2C3.1484%20z%20m%20-92.629%2C180.13%20c%203.3789%2C3.2578%205.3008%2C7.7422%205.3438%2C12.434%200.0391%2C4.6953%20-1.8047%2C9.207%20-5.125%2C12.527%20-3.3203%2C3.3203%20-7.832%2C5.1641%20-12.527%2C5.125%20-4.6914%2C-0.043%20-9.1758%2C-1.9648%20-12.434%2C-5.3438%20l%20-35%2C-35%20c%20-3.2812%2C-3.2812%20-5.125%2C-7.7305%20-5.125%2C-12.371%200%2C-4.6405%201.8438%2C-9.0898%205.125%2C-12.371%20l%2035%2C-35%20c%204.4453%2C-4.293%2010.824%2C-5.9258%2016.785%2C-4.293%205.957%2C1.6367%2010.613%2C6.293%2012.25%2C12.25%201.6328%2C5.9609%200%2C12.34%20-4.293%2C16.785%20l%20-22.625%2C22.629%20z%20m%20105%2C-10.254%20-35%2C35%20v%20-0.004%20c%20-4.4453%2C4.293%20-10.824%2C5.9258%20-16.785%2C4.293%20-5.957%2C-1.6367%20-10.613%2C-6.293%20-12.25%2C-12.25%20-1.6328%2C-5.9609%200%2C-12.34%204.293%2C-16.785%20l%2022.625%2C-22.629%20-22.629%2C-22.629%20h%200.004%20c%20-4.293%2C-4.4453%20-5.9258%2C-10.824%20-4.293%2C-16.785%201.6367%2C-5.957%206.293%2C-10.613%2012.25%2C-12.25%205.9609%2C-1.6328%2012.34%2C0%2016.785%2C4.293%20l%2035%2C35%20c%203.2812%2C3.2812%205.125%2C7.7305%205.125%2C12.371%200%2C4.6405%20-1.8438%2C9.0898%20-5.125%2C12.371%20z%22%20/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M%20506.68%2C133.75%20406.18%2C47.613%20c%20-4.3984%2C-3.7227%20-9.3555%2C-6.7344%20-14.684%2C-8.9258%20-5.3906%2C-2.1523%20-11.5%2C-1.4922%20-16.309%2C1.7656%20-4.8086%2C3.2578%20-7.6875%2C8.6875%20-7.6836%2C14.492%20v%2085.051%20c%200%2C13.926%205.5312%2C27.277%2015.375%2C37.125%209.8477%2C9.8438%2023.199%2C15.375%2037.125%2C15.375%20h%2087.5%20c%204.6406%2C0%209.0938%2C-1.8438%2012.375%2C-5.125%203.2812%2C-3.2812%205.125%2C-7.7344%205.125%2C-12.375%20v%20-1.3984%20c%20-0.0195%2C-15.316%20-6.7109%2C-29.863%20-18.324%2C-39.848%20z%22%20/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E");
}

.btn-copy .icon {
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27white%27%3E%3Cg%20transform%3D%22matrix%280.04897959%2C0%2C0%2C0.04897959%2C-5.1428565%2C-1.7142852%29%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%20175%2C35%20h%20245%20c%2019.328%2C0%2035%2C19.328%2035%2C35%20v%20315%20c%200%2C19.328%20-15.672%2C35%20-35%2C35%20H%20175%20c%20-19.328%2C0%20-35%2C-19.328%20-35%2C-35%20V%2070%20c%200%2C-19.328%2015.672%2C-35%2035%2C-35%20z%22%20/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M%20560%2C192.5%20V%20490%20c%20-0.0273%2C9.2734%20-3.7227%2C18.16%20-10.281%2C24.719%20C%20543.1607%2C521.278%20534.274%2C524.973%20525%2C525%20H%20280%20c%20-9.2734%2C-0.0273%20-18.16%2C-3.7227%20-24.719%2C-10.281%20C%20248.722%2C508.1607%20245.027%2C499.274%20245%2C490%20v%20-35%20h%20175%20c%2018.566%2C0%2036.371%2C-7.375%2049.496%2C-20.504%20C%20482.625%2C421.371%20490%2C403.566%20490%2C385%20V%20157.5%20h%2035%20c%209.2734%2C0.0273%2018.16%2C3.7227%2024.719%2C10.281%206.559%2C6.5583%2010.254%2C15.445%2010.281%2C24.719%20z%22%20/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27white%27%3E%3Cg%20transform%3D%22matrix%280.04897959%2C0%2C0%2C0.04897959%2C-5.1428565%2C-1.7142852%29%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%20175%2C35%20h%20245%20c%2019.328%2C0%2035%2C19.328%2035%2C35%20v%20315%20c%200%2C19.328%20-15.672%2C35%20-35%2C35%20H%20175%20c%20-19.328%2C0%20-35%2C-19.328%20-35%2C-35%20V%2070%20c%200%2C-19.328%2015.672%2C-35%2035%2C-35%20z%22%20/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M%20560%2C192.5%20V%20490%20c%20-0.0273%2C9.2734%20-3.7227%2C18.16%20-10.281%2C24.719%20C%20543.1607%2C521.278%20534.274%2C524.973%20525%2C525%20H%20280%20c%20-9.2734%2C-0.0273%20-18.16%2C-3.7227%20-24.719%2C-10.281%20C%20248.722%2C508.1607%20245.027%2C499.274%20245%2C490%20v%20-35%20h%20175%20c%2018.566%2C0%2036.371%2C-7.375%2049.496%2C-20.504%20C%20482.625%2C421.371%20490%2C403.566%20490%2C385%20V%20157.5%20h%2035%20c%209.2734%2C0.0273%2018.16%2C3.7227%2024.719%2C10.281%206.559%2C6.5583%2010.254%2C15.445%2010.281%2C24.719%20z%22%20/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E");
}

.folder-name {
    margin-right: .4rem;
}

.folder-info {
    font-size: small;
    opacity: 80%;
    margin-bottom: .4rem;
    display: flex;
}

.folder-mtime,
.folder-status,
.folder-language {
    background: #202020;
    padding: .2rem .4rem;
    border-radius: .4rem;
    margin-right: .4rem;
}

.folder-status {
    background: white;
    color: black;
}

.folder-languages {
    display: flex;
    flex-direction: row;
}

.folder-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}


/***** TAGS *****/

.tag {
    border-radius: .4rem;
    transition: .1s ease;
    color: white;
    display: flex;
    cursor: pointer;
}

.tag-label {
    padding: .2rem .4rem;
}

.tag-button {
    padding: .2rem;
    border-radius: .4rem;
    transition: .1s ease;
    margin-left: -.2rem;
    cursor: pointer;
}

.tag-label~.tag-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tag-button:hover {
    background: #ffffff80;
}

.tag-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tag-list .tag {
    margin: 0 .4rem .4rem 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: small;
}

.menu-item {
    background: #cccccc;
    padding: .2rem .4rem;
    color: black;
    transition: .1 ease;
    cursor: pointer;
    border-right: 1px solid black;
    user-select: none;
}

.menu-item:first-child {
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
}

.menu-item:last-child {
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    border-right: none;
}

.menu-item:hover {
    background: #999;
}


/***** OTHER *****/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    background: #00000020;
    z-index: 1;
}

.modal-foreground {
    z-index: 2;
}

.modal-header {
    font-weight: bold;
    margin-bottom: .4rem;
}

.tag-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-color: #888;
    border-radius: .4rem;
    background: #202020;
    color: white;
    transition: .25s ease;
    margin-bottom: .4rem;
}

.tag-form>*:first-child {
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
}

.tag-form>*:last-child {
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

.tag-form-input {
    font: inherit;
    border: none;
    color: inherit;
    padding: .4rem;
    background: inherit;
    border-right: 1px solid;
}

.tag-form-button {
    font: inherit;
    border: none;
    background: inherit;
    color: inherit;
    padding: .4rem;
    cursor: pointer;
}

.tag-form-button:hover {
    opacity: .8;
}

#folder-status-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}


/***** UTILS *****/

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
    opacity: 1;
}

#button-manage-tags:hover {
    text-decoration: underline;
}

#button-searchbar-clear {
    opacity: .6;
    transition: .1s ease;
}

#button-searchbar-clear:hover {
    opacity: 1;
}

#button-manage-tags {
    margin: 1rem 0 .4rem 0;
}